body {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    min-height: 100vh;
    padding: 2rem;
  }

  #title {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
  }

  #intro-text {
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
  border-radius: 2%;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  width: 25rem;
  height: 15rem;
  padding: 1rem;
}

  .middle-cards {
    margin: 2rem
  }

  .supervisor-card {
    border-top: 5px solid cyan;
  }

  .team-card {
    border-top: 5px solid red;
  }

  .karma-card {
    border-top: 5px solid orange;
    margin-top: 2rem;
  }

  .calculator-card {
    border-top: 5px solid blue;
  }

  .img {
    padding: 50px 0 0 330px;
  }

footer {
  text-align: center;
}
