<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  body {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    min-height: 100vh;
  }

  h1 {
  text-align: center;
  }

  #intro-text {
  font-size: 30px;
  font-weight: 200;
  text-align: center; 
  }


</style>
